#PG
PG_GOFERMART_USER="admin"
PG_GOFERMART_PASSWORD="admin"
PG_GOFERMART_DB="gophermart"
POSTGRES_GOFERMART_PORT="5438"

PG_ACCRUAL_USER="admin"
PG_ACCRUAL_PASSWORD="admin"
PG_ACCRUAL_DB="accrual"
POSTGRES_ACCRUAL_PORT="5437"